#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    border: 5px dashed black;
}

#likeControls {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#like, #likeCount {
    margin-top: 5px;
    font-size: 20pt;
    background-color: white;
}

#like {
    cursor: pointer;
}

#like[disabled] {
    cursor: not-allowed;
}

#likeCount {
    margin-left: 5px;
    padding: 0 5px;
    font-variant: small-caps;
}