body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url("/assets/img/wallpaper.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
}

.dancing-banana {
  width: 20vh;
}
